<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.642450200271-7akude2q4o07kcai7ssq617mv4rflppg</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>LexendDeca-Bold.ttf</string>
		<string>LexendDeca-Regular</string>
		<string></string>
	</array>
</dict>
</plist>
